{% extends 'layout.html' %}

{% block content %}
<div class="container-lg mt-3">
  <h1>Сайты</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap table-dark table-striped" data-test="urls">
      <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Последняя проверка</th>
          <th>Код ответа</th>
        </tr>
      </thead>
      {% if url_info %}
      <tbody>
        {% for record in url_info %}
        <tr>
          <td>{{ record.id }}</td>
          <td><a href="{{ url_for('show_url', url_id=record.id) }}">{{ record.name }}</a></td>
          <td>{{ record.created_at|default('', true) }}</td>
          <td>{{ record.status_code|default('', true) }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}
