{% extends 'layout.html' %}

{% block messages %}
{% include 'successes.html' %}
{% endblock %}

{% block content %}
<div class="container-lg mt-3">
  <h1>Сайт: {{ url.name }}</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap table-dark" data-test="url">
      <tbody>
        <tr>
          <th>ID</th>
          <td>{{ url.id }}</td>
        </tr>
        <tr>
          <th>Имя</th>
          <td>{{ url.name }}</td>
        </tr>
        <tr>
          <th>Дата создания</th>
          <td>{{ url.created_at.date() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
