{% extends 'layout.html' %}

{% block messages %}
{% include 'messages.html' %}
{% endblock %}

{% block content %}
<div class="container-lg mt-3">
  <h1>Сайт: {{ url.name }}</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap table-dark" data-test="url">
      <tbody>
        <tr>
          <th>ID</th>
          <td>{{ url.id }}</td>
        </tr>
        <tr>
          <th>Имя</th>
          <td>{{ url.name }}</td>
        </tr>
        <tr>
          <th>Дата создания</th>
          <td>{{ url.created_at.date() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class="mt-5 mb-3">Проверки</h2>
  <form action="{{ url_for('check_url', url_id=url.id, url_name=url.name) }}" method="post">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
  </form>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-dark table-striped mt-2" data-test="checks">
      <thead>
        <tr>
          <th>ID</th>
          <th>Код ответа</th>
          <th>h1</th>
          <th>title</th>
          <th>description</th>
          <th>Дата создания</th>
        </tr>
      </thead>
      {% if checks %}
      <tbody>
        {% for check in checks %}
        <tr>
          <td>{{ check.id }}</td>
          <td>{{ check.status_code }}</td>
          <td>{{ check.h1|default('', true) }}</td>
          <td>{{ check.title|default('', true) }}</td>
          <td>{{ check.description|default('', true) }}</td>
          <td>{{ check.created_at.date() }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}
