{% extends 'layout.html' %}

{% block messages %}
{% include 'messages.html' %}
{% endblock %}

{% block content %}
<div class="container-lg mt-5">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-4 bg-dark text-light p-5">
      <h1 class="display-4 text-center">Анализатор страниц</h1>
      <p class="lead text-center">Бесплатно проверяйте сайты на SEO-пригодность</p>
      <form action="{{ url_for('post_url') }}" method="post" class="d-flex justify-content-center mt-5 mb-2">
        <label for="url" class="visually-hidden">Url для проверки</label>
        <input type="text" id="url" name="url" placeholder="https://www.example.com" value="{{ name|default('') }}" class="form-control form-control-lg" required>
        <div class="mx-2"></div>
        <input type="submit" class="btn btn-primary btn-lg text-uppercase" value="Проверить">
      </form>
    </div>
  </div>
</div>
{% endblock %}
